<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <h1>Let Readiary know more about your goals</h1>
        <form action="/setting/new" method="POST" novalidate class="needs-validation">
            
            <div class="mb-3">
                <label for="timeGoal" class="form-label">How many <strong>hours</strong> you intend to read in total</label>
                <div class="input-group">
                    <input type="number" id="timeGoal" class="form-control" name="setting[time]" min="0" required>
                    <div class="invalid-feedback">
                        Please enter the number of hours
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="numGoal" class="form-label">How many <strong>books</strong> you intend to read in total</label>
                <div class="input-group">
                    <input type="number" id="numGoal" class="form-control" name="setting[num]" min="0" required>
                    <div class="invalid-feedback">
                        Please enter the number of books
                    </div>
                </div>
            </div>

            
            <div class="mb-3">
                <button class="btn btn-success">SAVE</button>
            </div>  
        </form>
    </div>
</div>
